[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/luckytuvshee/Desktop/Alexandra Stan - Mr  Saxobeat (slowed + reverb).mkv]
row=2
col=8

[/home/luckytuvshee/Desktop/desktop]
row=0
col=0

