[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/luckytuvshee/Desktop/future_me.png]
row=0
col=1

[/home/luckytuvshee/Desktop/kakkoi.jpg]
row=6
col=0

[/home/luckytuvshee/Desktop/2021-11-15_22-11.png]
row=6
col=1

[/home/luckytuvshee/Desktop/2021-08-29_19-46.png]
row=7
col=2

[/home/luckytuvshee/Desktop/2021-09-26_02-25_3.png]
row=3
col=2

[/home/luckytuvshee/Desktop/2021-09-26_02-25_6.png]
row=0
col=2

[/home/luckytuvshee/Desktop/2021-11-15_22-11_1.png]
row=5
col=1

[/home/luckytuvshee/Desktop/take_responsibility.png]
row=4
col=0

[/home/luckytuvshee/Desktop/happiness.jpg]
row=9
col=0

[/home/luckytuvshee/Desktop/かまってほしくて仕方がない子猫がかわいすぎた… kitten loves sitting on the pc too much-FTNZdWKokjY.mkv]
row=2
col=0

[/home/luckytuvshee/Desktop/bright_future.jpg]
row=1
col=1

[/home/luckytuvshee/Desktop/blockchain_social_media]
row=2
col=1

[/home/luckytuvshee/Desktop/2021-11-12_13-50_1.png]
row=9
col=1

[/home/luckytuvshee/Desktop/193251166_4427075740645726_3354710904742321827_n.png]
row=4
col=1

[/home/luckytuvshee/Desktop/ZipCodeMap-rivjwqulgvfvbp53xfuwyqqcfq-dev.csv]
row=3
col=0

[/home/luckytuvshee/Desktop/opinion_mining]
row=0
col=0

[/home/luckytuvshee/Desktop/2021-09-26_02-25_2.png]
row=4
col=2

[/home/luckytuvshee/Desktop/2021-09-26_02-25_5.png]
row=1
col=2

[/home/luckytuvshee/Desktop/instagram_fix_duplicate_user]
row=7
col=0

[/home/luckytuvshee/Desktop/kkk]
row=1
col=0

[/home/luckytuvshee/Desktop/2021-11-15_21-41.png]
row=8
col=1

[/home/luckytuvshee/Desktop/242831532_1072283930264569_9160068212153809253_n.jpg]
row=3
col=1

[/home/luckytuvshee/Desktop/2021-09-26_02-25_1.png]
row=5
col=2

[/home/luckytuvshee/Desktop/2021-09-26_02-25_4.png]
row=2
col=2

[/home/luckytuvshee/Desktop/i_am_in_my_reality.jpg]
row=8
col=0

[/home/luckytuvshee/Desktop/Municipality-rivjwqulgvfvbp53xfuwyqqcfq-dev.csv]
row=5
col=0

[/home/luckytuvshee/Desktop/2021-11-15_22-10_1.png]
row=7
col=1

[/home/luckytuvshee/Desktop/2021-09-26_02-25.png]
row=6
col=2

