[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/luckytuvshee/Desktop/2021-02-27_02-32_2.png]
row=2
col=0

[/home/luckytuvshee/Desktop/stuffs]
row=0
col=0

[/home/luckytuvshee/Desktop/main.pdf]
row=1
col=0

