[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/luckytuvshee/Desktop/bookMate_ppt.pptx]
row=4
col=0

[/home/luckytuvshee/Desktop/stuffs]
row=0
col=0

[/home/luckytuvshee/Desktop/SAO.png]
row=2
col=0

[/home/luckytuvshee/Desktop/diagrams.docx]
row=3
col=0

[/home/luckytuvshee/Desktop/B170920041_Tuul_Tuvshinsanaa.pdf]
row=1
col=0

