[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/luckytuvshee/Desktop/chrome-pjibgclleladliembfgfagdaldikeohf-Default.desktop]
row=0
col=0

[/home/luckytuvshee/Desktop/unofficial_plan.jpg]
row=1
col=0

[/home/luckytuvshee/Desktop/Andrew Ng - Machine Learning.png]
row=0
col=2

[/home/luckytuvshee/Desktop/ava_white_dress.jpg]
row=0
col=1

