[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/luckytuvshee/Desktop/future_me.png]
row=0
col=2

[/home/luckytuvshee/Desktop/2021-11-15_22-11.png]
row=8
col=2

[/home/luckytuvshee/Desktop/kakkoi.jpg]
row=2
col=1

[/home/luckytuvshee/Desktop/Rollergirl - Geisha Dreams.mp3]
row=1
col=7

[/home/luckytuvshee/Desktop/2021-09-26_02-25_3.png]
row=6
col=3

[/home/luckytuvshee/Desktop/2021-09-26_02-25_6.png]
row=6
col=6

[/home/luckytuvshee/Desktop/2021-11-15_22-11_1.png]
row=8
col=1

[/home/luckytuvshee/Desktop/happiness.jpg]
row=4
col=2

[/home/luckytuvshee/Desktop/NAOKI ft. Smile dk - A Geisha's Dream.mp3]
row=1
col=8

[/home/luckytuvshee/Desktop/bright_future.jpg]
row=0
col=1

[/home/luckytuvshee/Desktop/take_responsibility.png]
row=1
col=1

[/home/luckytuvshee/Desktop/blockchain_social_media]
row=1
col=0

[/home/luckytuvshee/Desktop/Nightcore - We Found Love.mp3]
row=1
col=9

[/home/luckytuvshee/Desktop/193251166_4427075740645726_3354710904742321827_n.png]
row=4
col=1

[/home/luckytuvshee/Desktop/2021-09-26_02-25_5.png]
row=6
col=4

[/home/luckytuvshee/Desktop/opinion_mining]
row=0
col=0

[/home/luckytuvshee/Desktop/2021-09-26_02-25_2.png]
row=6
col=2

[/home/luckytuvshee/Desktop/me]
row=3
col=10

[/home/luckytuvshee/Desktop/2021-11-15_21-41.png]
row=3
col=0

[/home/luckytuvshee/Desktop/2021-09-26_02-25.png]
row=6
col=1

[/home/luckytuvshee/Desktop/242831532_1072283930264569_9160068212153809253_n.jpg]
row=4
col=0

[/home/luckytuvshee/Desktop/2021-09-26_02-25_4.png]
row=6
col=5

[/home/luckytuvshee/Desktop/i_am_in_my_reality.jpg]
row=4
col=3

[/home/luckytuvshee/Desktop/2021-09-26_02-25_1.png]
row=6
col=0

[/home/luckytuvshee/Desktop/2021-11-15_22-10_1.png]
row=8
col=0

[/home/luckytuvshee/Desktop/かまってほしくて仕方がない子猫がかわいすぎた… kitten loves sitting on the pc too much-FTNZdWKokjY.mkv]
row=2
col=0

