[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/luckytuvshee/Desktop/chrome-pjibgclleladliembfgfagdaldikeohf-Default.desktop]
row=4
col=0

[39f0f91e-8c13-43c5-9222-ea71ed73c5f6]
row=0
col=0

[40e26db7-58b3-4383-a6fc-297fc935cf2a]
row=1
col=0

[/]
row=2
col=0

[/home/luckytuvshee]
row=3
col=0

